# Node modules
node_modules/

# Cypress output folders
cypress/screenshots/
cypress/videos/
cypress/reports/
cypress/downloads/

# Environment files (DON'T commit these!)
.env*
!.env.sample  # Keep a sample template for collaborators

# Ignore all VS Code files except settings.json
.vscode/*
!.vscode/settings.json


# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Optional: lock files (if you don't want to commit them)
# package-lock.json
